<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {#    <link href="{{ url_for("static",filename="bootstrap/bootstrap.min.css") }}" rel="stylesheet" >#}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <title>Onitsuka Tiger🐯</title>
</head>
<body>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Onitsuka Tiger🐯</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for("index") }}">首页</a></li>
                    <li><a href="#">相册🌿</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for("user_login") }}">登陆<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url_for("user_regist") }}">注册</a></li>
                    <li><a href="">退出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    
    {% block content %}
    
    {% endblock %}

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for("static", filename="jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="popper/popper.min.js") }}"></script>
<script src="{{ url_for("static", filename="bootstrap/bootstrap.min.js") }}"></script>
</body>
</html>